header h1 a{
    color:green;
    text-decoration: none;
    padding: 800px;
    font-size: 60px;
}

div h2{
    color:indigo;
    font-size: 45px;
    font-family: "Lucida Console", "Courier New", monospace;
}
div p{
    color:green;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}


